.my-course-card {
  cursor: pointer;
  transition: 1s transform;
}

.my-course-card:hover {
  z-index: 2;
  transform: scale(1.025);
}

.learn-component-button {
  cursor: pointer;
}

.learn-component-button:hover {
  color: white;
  background-color: gray;
}

.Navbar .mantine-NavLink-label {
  font-size: 1.25rem !important;
}
